---
---

@import "minima";

.footer-heading {
  display: none;
}

.post-title {
  display: none;
}

.p-name {
  display: none;
}

.page-heading {
  display: none;
}

.site-header {
  background-color: #5362E8;
}

.site-title, .site-title:visited {
    color: #f5f5f5;
}

.site-nav .page-link {
    color: #f5f5f5;
}

.site-footer {
  background-color: #5362E8;
}

footer a, footer a:visited {
  color: #f5f5f5;
}
